@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,800;0,900;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ont-a{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 48px;
 
}
.navbar-brand {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
.ont{
  font-family: 'Nunito','', sans-serif;
  font-weight: 800;
}
